@media screen and (max-width: 700px) {
  * {
    box-sizing: border-box;
    font-family: roboto;
    padding: 0;
    margin: 0;
  }
  .App {
    text-align: center;
    margin: 1rem 1rem;
    /* border: 5px solid rgb(103, 13, 248); */
    height: auto;
    overflow: hidden;
  }
  .heading {
    background-color: #e94f4f;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 0px;
  }
  .container {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid rgb(122, 21, 255); */
  }
  .option {
    width: 100%;
    margin: 0;
    /* border: 3px solid rgb(255, 87, 241); */
    text-align: center;
    /* overflow-y: scroll; */
    height: 300px;
    position: sticky;
    top: 60px;
  }

  .box {
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(190, 183, 188, 0.2);
    text-align: center;
    /* border: 3px solid red; */
    text-align: left;
  }
  .box-option-div {
    background-color: #575aff;
    text-align: center;
    color: white;
    position: sticky;
    top: 0%;
    font-size: larger;
    padding: 5px 2px;
  }

  .result {
    width: 100%;
    margin: auto;
    /* border: 5px solid rgb(20, 238, 92); */
    color: rgb(0, 0, 0);
  }
  .result-div {
    display: flex;
    flex-direction: row;
  }
  .imagediv {
    border-radius: 100%;
    height: 100px;
    width: 250px;
    border: 1px solid black;
    margin: auto;
  }

  .imagediv > img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-sizing: content-box;
    /* border: 2px solid red; */
  }
}

@media screen and (max-width: 500px) {
  * {
    box-sizing: border-box;
    font-family: roboto;
    padding: 0;
    margin: 0;
  }
  .App {
    text-align: center;
    margin: 1rem 1rem;
    /* border: 5px solid rgb(103, 13, 248); */
    height: auto;
    overflow: hidden;
  }
  .heading {
    background-color: #e94f4f;
    margin-bottom: 1rem;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 0px;
  }
  .container {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    flex-direction: column;
    /* border: 2px solid rgb(122, 21, 255); */
  }
  .option {
    width: 100%;
    /* border: 3px solid rgb(255, 87, 241); */
    text-align: center;
    /* overflow-y: scroll; */
    height: 330px;
    position: sticky;
    top: 60px;
  }

  .box {
    padding: 1rem;
    margin: 1rem;
    background-color: rgba(190, 183, 188, 0.2);
    text-align: center;
    /* border: 3px solid red; */
    text-align: left;
  }
  .box-option-div {
    background-color: #575aff;
    text-align: center;
    color: white;
    position: sticky;
    top: 0%;
  }

  .result {
    width: 100%;
    margin: auto;
    margin-top: 20px;
    /* border: 1px solid rgb(142, 145, 143); */
    color: rgb(0, 0, 0);
  }
  .result-div {
    display: flex;
    flex-direction: row;
    /* background-color: #e94f4f; */
  }
  .imagediv {
    border-radius: 100%;
    height: 90px;
    width: 320px;
    border: 1px solid black;
    margin: auto;
  }

  .imagediv > img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-sizing: content-box;
    /* border: 2px solid red; */
  }
  .heading {
    background-color: #e94f4f;
    color: rgb(255, 255, 255);
    border-radius: 10px;
    position: sticky;
    padding: 3px;
  }
  .box-option-div {
    padding: 2px;
    background-color: #575aff;
    text-align: center;
    color: white;
    position: sticky;
    top: 0%;
  }
}
